@model ProjektZal.Models.Product

<div class="admin-db-popup-content">
    <h3>Dodaj produkt</h3>
    <form asp-action="AddProduct" method="post" class="admin-db-form">
        <div class="form-group">
            <label for="Name">Nazwa produktu:</label>
            <input id="Name" name="Name" type="text" class="admin-db-input" value="@Model.Name" required />
        </div>
        <div class="form-group">
            <label for="Price">Cena:</label>
            <input id="Price" name="Price" type="number" step="0.01" class="admin-db-input" value="@Model.Price" required />
        </div>
        <div class="form-group">
            <label for="Description">Opis:</label>
            <textarea id="Description" name="Description" class="admin-db-input">@Model.Description</textarea>
        </div>
        <div class="form-group">
            <label for="Stock">Stan magazynowy:</label>
            <input id="Stock" name="Stock" type="number" class="admin-db-input" value="@Model.Stock" required />
        </div>
        <button type="submit" class="admin-db-button">Dodaj produkt</button>
    </form>
</div>
