@model IEnumerable<ProjektZal.Models.Product>

<h2>Lista produktów</h2>
<table>
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>
