@{
    ViewData["Title"] = "Strona Główna";
}

<div class="homepage-container">
    <h1>Sklep Internetowy</h1>
    <p>Zapraszamy do naszego sklepu, gdzie znajdziesz najlepsze produkty!</p>
    <a href="/User/Login">Zaloguj się</a>
</div>