@{
    ViewData["Title"] = "Strona Główna";
}

<div class="homepage-container">
    <div class="homepage-left">
        <img src="~/images/shop-interior.jpg" alt="Welcome to our shop" class="shop-image" />
        <div class="homepage-text-overlay">
            <h1>Witamy w naszym sklepie!</h1>
        </div>
    </div>
    <div class="homepage-right">
        <p>Oferujemy szeroki wybór najlepszych produktów w doskonałych cenach.</p>
        <a href="/User/Login" class="btn-login">Zaloguj się</a>
    </div>
</div>
